.product {

    &__wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 90px;
        margin-top: 120px;
        }

    &__right {
        margin: auto;
    }

    &__image {
        background-color: #01996D;
        opacity: 0.2;
        position: relative;
        z-index: 0;
        img {
            z-index: 5;
        }
    }

    &__text {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}