.slide {
    display: grid;
    margin-bottom: 170px;
    font-family: "Lato-Regular"; 
    background-image: url(../img/Slide.png);
    background-size: cover;
    height: calc(100vh - 51px);
    

&__text-box {
    position: relative;
    width: 440px;
    }


&__title {
    margin-bottom: 35px;
}

&__text {
    margin-bottom: 56px; 
    width: 400px; 
}

}