.story {

position: relative;
height: 922px;
background: #245852;

&__wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 70px;
    padding-top: 220px;
}
&__left {
    margin: auto;
}

&__title {
    color: #FFFFFF;

}
&__text {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FFFFFF;
}

}