.works {    
    position: relative;
    margin-bottom: 150px; 
    font-family: "Lato-Medium";   

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
}
    &__left {
        padding-right: 35px;
    }
    &__right {
        margin-top: 58px;
    }   

}