.header {    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 172px;  
    align-items: center;
    justify-content: space-between;
    font-family: lato, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;   
    color: #292929;
    background-color: #fff;   
 

    &__left {
        display: grid;
        align-content: center;
        justify-content: center;
        }

    &__menu ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;        
        align-items: center;
        justify-content: space-between;
        }

    &__right {
        display: grid;
        
    button {
        width: 183px;
        height: 51px;
        background: #01996D;
        color: #FFF;
        border: 1px solid #01996D;
        border-radius: 4px;
        }
        }


}