body {
    font-family: 'lato';
    width: 100%;
      }
  
  .wrapper {
    width: 1375px; 
    margin: 0 auto; 
      
  }

  .h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 74px;
    color: #01996D;
  }

  .h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996D;
  }

  .h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;   
    text-align: center;
    color: #000000;
    margin-bottom: 60px;
  }


  .h4 {
    font-family: 'Lato-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 157%;
    color: #424242;

  }

  button {
    width: 227px;
    height: 65px;
    background: #01996D;
    color: #FFF;
    border: 1px solid #01996D;
    border-radius: 4px;
    }

  @font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "Lato-Regular"; 
    // адрес шрифта и тип 
    src: url("../fonts/Lato-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
    } 

  @font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "Lato-Medium"; 
    // адрес шрифта и тип 
    src: url("../fonts/Lato-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 500; 
    }

  @font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "Lato-SemiBold"; 
    // адрес шрифта и тип 
    src: url("../fonts/Lato-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 600; 
    } 


  @import "header";
  @import "slide";
  @import "works";
  @import "cards";
  @import "story";
  @import "product";
  @import "footer";
  

